Flask==3.0.0
Flask-CORS==4.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-json-logger==2.0.7
requests==2.31.0
psutil==5.9.6
paho-mqtt>=1.6.1
Pillow>=10.0.0
python-dotenv==1.0.0
python-multipart==0.0.6
